{% extends 'base.html' %}
{% load static %}
{% block title %} Delivery Addresses {% endblock title %}

{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">Meal Plans Overview for {{mealplan}}</h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{{dashboard}}">Dashboard /</a></li>
                <li class="font-medium text-primary">Meal</li>
            </ol>
        </nav>
    </div>
    <div class="pb-5"><div class="flex justify-end p-3 container bg-white rounded-lg">
        <div class="button flex items-center">
            <a href="{% url 'meal_plan_list'%}" class="inline-flex items-center gap-2 rounded-md bg-primary my-1 px-6 py-3 font-medium text-white hover:bg-opacity-90">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-1q0mvrt" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48 48 141.13 48 256zm224-80.09L208.42 240H358v32H208.42L272 336.09l-22.7 22.54L147.46 256 249.3 153.37z"></path></svg>
                <span>Back to Meal Plan</span>
            </a>
        </div>
    </div>
</div>
<div class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
   
<div class="max-w-full overflow-x-auto">
    
  
    <!-- Daily Plans Table -->
    <h3 class="text-xl font-bold text-blue-600 mb-4 text-black dark:text-white">Meal Plans</h3>
    
  <div class="p-4 rounded-lg bg-white shadow border border-[#3CA745] mb-4">
      <!-- Header with Title and Code -->
      <div class="flex justify-between items-center mb-2">
          <div>
              <h2 class="text-xl font-semibold">{{ mealplan.meal_plan_name }}</h2>
              <p class="text-gray-700">{{ order }}</p>
          </div>
          <div class="text-right">
              {% if status == 1 %}
              <p class="text-success font-bold">● Active</p>
              <p class="text-gray-500">Expires on {{ order.bulk_order_end_date }}</p>
              {%else%}
              <p class="text-info font-bold">● Inactive</p>
              <p class="text-gray-500">Expired on {{ order.bulk_order_end_date }}</p>
              {%endif%}
          </div>
      </div>
  
      <!-- Meals per Day -->
      <p class="text-gray-700 mb-1">
          <span>Meals per day: <span class="font-bold">{{ sum }}</span></span>
      </p>
      
      <!-- Meal Breakdown -->
      <div class="flex text-gray-700">
        <span class="mr-20">Breakfast: <span class="font-bold">{{ order.breakfast }}</span></span>
        <span class="mr-20">Lunch: <span class="font-bold">{{ order.lunch }}</span></span>
        <span class="mr-20">Tea & Snacks: <span class="font-bold">{{ order.snack }}</span></span>
        <span>Dinner: <span class="font-bold">{{ order.dinner }}</span></span>
    </div>
  </div>
  

    {% comment %} <table class="table-auto w-full">
       <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr class="bg-gray-2 text-left dark:bg-meta-4">
          <th class="px-4 py-2 font-bold text-left">Period</th>
          <th class="px-4 py-2 font-bold text-left">Meal Plan Name</th>
          <th class="px-4 py-2 font-bold text-left">Breakfast</th>
          <th class="px-4 py-2 font-bold text-left">Lunch</th>
          <th class="px-4 py-2 font-bold text-left">Dinner</th>
          <th class="px-4 py-2 font-bold text-left">Tea & Snacks</th>
          <th class="px-4 py-2 font-bold text-left">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Daily</td>
          <td class="border px-4 py-2">{{ mealplan.meal_plan_name }}</td>
          <td class="border px-4 py-2">{{ mealplan.daily_breakfast_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.daily_lunch_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.daily_dinner_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.daily_snack_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.meal_plan_availability_status }}</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Weekly</td>
          <td class="border px-4 py-2">{{ mealplan.meal_plan_name }}</td>
          <td class="border px-4 py-2">{{ mealplan.monthly_breakfast_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.monthly_lunch_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.monthly_dinner_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.monthly_snack_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.meal_plan_availability_status }}</td>
        </tr>
        <tr>
          <td class="border px-4 py-2">Monthly</td>
          <td class="border px-4 py-2">{{ mealplan.meal_plan_name }}</td>
          <td class="border px-4 py-2">{{ mealplan.weekly_breakfast_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.weekly_lunch_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.weekly_dinner_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.weekly_snack_price }}</td>
          <td class="border px-4 py-2">{{ mealplan.meal_plan_availability_status }}</td>
        </tr>
      </tbody>
    </table>
   {% endcomment %}
    
    <!-- Weekly Availability Tables by Day -->

    <h3 class="mt-3 mb-4 my-2 py-2" style="font-weight: bold; font-size: 1.2em;">Sunday's Meals</h3>
   
    <table class="table-auto w-full">
       <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr>
          <th class="px-4 py-2 font-bold text-left">Meal Type</th>
          <th class="px-4 py-2 font-bold text-left">Meals</th>
          <th class="px-4 py-2 font-bold text-left">Dishes</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Breakfast</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_breakfast_meal.all %}{{ meal}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_breakfast_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Lunch</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_lunch_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_lunch_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Snack</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_snack_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_snack_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2" rowspan="2">Dinner</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_dinner_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_dinner_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
         </tr>
        <tr>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_dinner_meal_option.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.sunday_dinner_meal_option.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
        
        </tr>
        
      </tbody>
    </table>
  </div>
    <h3 class="mt-3 mb-4 my-2 py-2" style="font-weight: bold; font-size: 1.2em;">Monday's Meals</h3>

    <table class="table-auto w-full">
      <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr>
          <th class="px-4 py-2 font-bold text-left">Meal Type</th>
          <th class="px-4 py-2 font-bold text-left">Meals</th>
          <th class="px-4 py-2 font-bold text-left">Dishes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Breakfast</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_breakfast_meal.all %}{{ meal}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_breakfast_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>

        </tr>
        <tr>
          <td class="border px-4 py-2">Lunch</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_lunch_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_lunch_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
 
        </tr>
        <tr>
          <td class="border px-4 py-2">Snack</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_snack_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_snack_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>

        </tr>
        <tr>
          <td class="border px-4 py-2" rowspan="2">Dinner</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_dinner_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_dinner_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>

        </tr>
        <tr>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_dinner_meal_option.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.monday_dinner_meal_option.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
        
        </tr>
      </tbody>
    </table>


    <h3 class="mt-3 mb-4 my-2 py-2" style="font-weight: bold; font-size: 1.2em;">Tuesday's Meals</h3>

    <table class="table-auto w-full">
       <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr>
          <th class="px-4 py-2 font-bold text-left">Meal Type</th>
          <th class="px-4 py-2 font-bold text-left">Meals</th>
          <th class="px-4 py-2 font-bold text-left">Dishes</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Breakfast</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_breakfast_meal.all %}{{ meal}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_breakfast_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
 
        </tr>
        <tr>
          <td class="border px-4 py-2">Lunch</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_lunch_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_lunch_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr> 
        <tr>
          <td class="border px-4 py-2">Snack</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_snack_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_snack_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
   
        </tr>
        <tr>
          <td class="border px-4 py-2" rowspan="2">Dinner</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_dinner_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_dinner_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
   
        </tr>
        <tr>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_dinner_meal_option.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.tuesday_dinner_meal_option.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
        
        </tr>
      </tbody>
    </table>
  

    <h3 class="mt-3 mb-4 my-2 py-2" style="font-weight: bold; font-size: 1.2em;">Wednesday's Meals</h3>
  
    <table class="table-auto w-full">
       <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr>
          <th class="px-4 py-2 font-bold text-left">Meal Type</th>
          <th class="px-4 py-2 font-bold text-left">Meals</th>
          <th class="px-4 py-2 font-bold text-left">Dishes</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Breakfast</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_breakfast_meal.all %}{{ meal}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_breakfast_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Lunch</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_lunch_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_lunch_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
   
        </tr>        
        <tr>
          <td class="border px-4 py-2">Snack</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_snack_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_snack_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
   
        </tr>
        <tr>
          <td class="border px-4 py-2" rowspan="2">Dinner</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_dinner_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_dinner_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_dinner_meal_option.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.wednesday_dinner_meal_option.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
        
        </tr>
      </tbody>
    </table>


    <h3 class="mt-3 mb-4 my-2 py-2" style="font-weight: bold; font-size: 1.2em;">Thursday's Meals</h3>
  
    <table class="table-auto w-full">
       <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr>
          <th class="px-4 py-2 font-bold text-left">Meal Type</th>
          <th class="px-4 py-2 font-bold text-left">Meals</th>
          <th class="px-4 py-2 font-bold text-left">Dishes</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Breakfast</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_breakfast_meal.all %}{{ meal}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_breakfast_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Lunch</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_lunch_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_lunch_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Snack</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_snack_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_snack_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2"  rowspan="2">Dinner</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_dinner_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_dinner_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_dinner_meal_option.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.thursday_dinner_meal_option.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
        
        </tr>
      </tbody>
    </table>

    <h3 class="mt-3 mb-4 my-2 py-2" style="font-weight: bold; font-size: 1.2em;">Friday's Meals</h3>
  
    <table class="table-auto w-full">
       <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr>
          <th class="px-4 py-2 font-bold text-left">Meal Type</th>
          <th class="px-4 py-2 font-bold text-left">Meals</th>
          <th class="px-4 py-2 font-bold text-left">Dishes</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Breakfast</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_breakfast_meal.all %}{{ meal}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_breakfast_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Lunch</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_lunch_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_lunch_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Snack</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_snack_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_snack_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2" rowspan="2">Dinner</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_dinner_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_dinner_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_dinner_meal_option.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.friday_dinner_meal_option.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
        
        </tr>
      </tbody>
    </table>

    <h3 class="mt-3 mb-4 my-2 py-2" style="font-weight: bold; font-size: 1.2em;">Saturday's Meals</h3>
  
    <table class="table-auto w-full">
       <thead  class="text-white rounded-lg bg-primary px-5 py-4 lg:px-7.5 2xl:px-11">
        <tr>
          <th class="px-4 py-2 font-bold text-left">Meal Type</th>
          <th class="px-4 py-2 font-bold text-left">Meals</th>
          <th class="px-4 py-2 font-bold text-left">Dishes</th>
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border px-4 py-2">Breakfast</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_breakfast_meal.all %}{{ meal}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_breakfast_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Lunch</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_lunch_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_lunch_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">Snack</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_snack_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_snack_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2" rowspan="2">Dinner</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_dinner_meal.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_dinner_meal.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
  
        </tr>
        <tr>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_dinner_meal_option.all %}{{ meal }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
          <td class="border px-4 py-2">{% for meal in mealplan.saturday_dinner_meal_option.all %}{% for dish in meal.selected_dishes.all %}{{ dish.dish_name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% if not forloop.parentloop.last %} {% endif %}{% endfor %}</td>
        
        </tr>
      </tbody>
    </table>

    
  
</div>
</div>

{% endblock content %}

    

    
      