{% extends 'base.html' %}
{% load static %}
{% block title %} Delivery Addresses {% endblock title %}

{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">Menu</h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{% url 'dashboard' %}">Dashboard /</a></li>
                {% if user.role != 'MENTOR' %}
              <li><a class="font-medium" href="{% url 'meal_plan_branches' %}"> Branches /</a></li>
              {% endif %}
                <li class="font-medium text-success">Menu</li>
            </ol>
        </nav>
    </div>
    <div class="pb-5"><div class="flex justify-end p-3 container bg-white rounded-lg">
        <div class="button flex items-center">
            {% comment %} <a href="" class="inline-flex items-center gap-2 rounded-md bg-primary my-1 px-6 py-3 font-medium text-white hover:bg-opacity-90"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-1q0mvrt" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm90.5 224H272v74.5c0 8.8-7.2 16-16 16-4.4 0-8.4-1.8-11.3-4.7-2.9-2.9-4.7-6.9-4.7-11.3V272h-74.5c-4.4 0-8.4-1.8-11.3-4.7-2.9-2.9-4.7-6.9-4.7-11.3 0-8.8 7.2-16 16-16H240v-74.5c0-8.8 7.2-16 16-16s16 7.2 16 16V240h74.5c8.8 0 16 7.2 16 16s-7.2 16-16 16z"></path>
                </svg>
                <span>Add Meal Plan</span>
            </a> {% endcomment %}
        </div>
    </div>
</div>
<div class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
    <div class="max-w-full overflow-x-auto">
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-2 text-left dark:bg-meta-4">
                    <th class="min-w-[220px] py-4 px-4 font-medium text-black dark:text-white ">BRANCH</th>
                    <th class="min-w-[220px] py-4 px-4 font-medium text-black dark:text-white ">PLAN</th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">QUANTITY</th>
                    <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white">STATUS</th>
                    <th class="py-4 px-4 font-medium text-black dark:text-white">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for item in orders_data %}
                <tr class="border-b border-[#eee] dark:border-strokedark">
                    <td class="border-[#eee] py-4 px-4 pt-6 dark:border-strokedark">
                        <span class="text-[#637381] dark:text-bodydark">{{ item.order.branch }}</span>
                    </td>
                   
                    <td class="border-b border-[#eee] py-4 px-4 dark:border-strokedark">
                        <span class="text-[#637381] dark:text-bodydark">{{ item.order.bulk_order_name }}</span>
                    </td>
                    
                    <td class="border-b border-[#eee] py-4 px-4 dark:border-strokedark">
                        <span class="text-[#637381] dark:text-bodydark">
                            {{ item.order.breakfast|add:item.order.lunch|add:item.order.snack|add:item.order.dinner|add:item.order.dinner2 }}
                        </span>
                    </td>
                    
                    <td class="border-b border-[#eee] py-4 px-4 dark:border-strokedark">
                        <p class="inline-flex rounded-full capitalize bg-opacity-10 py-1 px-3 text-sm font-medium 
                            {% if item.status == 0 %} bg-danger text-danger {% else %} bg-success text-success {% endif %}">
                            {% if item.status == 0 %} Inactive {% else %} Active {% endif %}
                        </p>
                    </td>
                    
                    <td class="border-b border-[#eee] py-4 px-4 dark:border-strokedark">
                        <div class="flex items-center space-x-3.5">
                            {% if item.order.bulk_order_end_date %}
                                {% for meal_plan in item.mealplans %}
                                    <a href="{% if user.role != 'MENTOR' %}{% url 'meal_plan_detail_by_branch' branch_id=item.order.pk id=meal_plan.pk %}{% else %}{% url 'meal_plan_detail' id=meal_plan.pk %}{% endif %}" class="hover:text-primary text-primary">
                                        View
                                    </a>
                                {% endfor %}
                            {% endif %}
                                <a href="#" class="hover:text-primary text-primary">
                                    View
                                </a>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="border-[#eee] py-4 px-4 pt-6 dark:border-strokedark text-center">
                        No Subscription
                    </td>
                </tr>
                {% endfor %}
                
        </tbody>
    </table>
</div>
</div>
</div>

{% endblock content %}

    

    
      