{% extends 'base.html' %}
{% load static %}
{% block title %} Order History {% endblock title %}

{% block content %}

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">Order History </h2>
         <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{% url 'dashboard' %}">Dashboard /</a></li>
                {% if user.role != 'mentor' %}
              <li><a class="font-medium" href="{% url 'orders_branches' %}"> Branches /</a></li>
              {% endif %}
                <li class="font-medium text-success">Order History </li>
            </ol>
        </nav>
    </div>
    {% comment %} {% for order in orders %} {% endcomment %}
    
    <div class="pb-2 mt-4">
        <div class="flex justify-start p-3 container bg-black rounded-lg  mb-2">
            <div class="button flex items-center">
                <p class="inline-flex items-center gap-2 my-1 px-4 py-3 font-medium text-white text-lg hover:bg-opacity-90">
                    <span>Order History </span>
                </p>
            </div>
        </div>

        {% comment %} <div class="rounded-lg border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1"> {% endcomment %}
            <div
                class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
              >
                <div
                  class="data-table-common data-table-one max-w-full overflow-x-auto"
                >
                  <table class="table w-full table-auto" id="dataTableOne">
                    <thead>
                      <tr>
                        <th>
                          <div class="flex items-center gap-1.5">
                            <p>ORDER #</p>
                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill="" />
                                </svg>
                              </span>
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                    fill=""
                                  />
                                </svg>
                              </span>
                            </div>
                          </div>
                        </th>
                        <th>
                          <div class="flex items-center gap-1.5">
                            <p>DATE</p>
                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill="" />
                                </svg>
                              </span>
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                    fill=""
                                  />
                                </svg>
                              </span>
                            </div>
                          </div>
                        </th>
                        <th data-type="date" data-format="YYYY/DD/MM">
                          <div class="flex items-center gap-1.5">
                            <p>MEAL TYPE</p>
                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill="" />
                                </svg>
                              </span>
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                    fill=""
                                  />
                                </svg>
                              </span>
                            </div>
                          </div>
                        </th>
                        <th>
                          <div class="flex items-center gap-1.5">
                            <p>BRANCH</p>
                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill="" />
                                </svg>
                              </span>
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                    fill=""
                                  />
                                </svg>
                              </span>
                            </div>
                          </div>
                        </th>
                        <th>
                          <div class="flex items-center gap-1.5">
                            <p>LOCATION</p>
                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill="" />
                                </svg>
                              </span>
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                    fill=""
                                  />
                                </svg>
                              </span>
                            </div>
                          </div>
                        </th>
                        <th>
                          <div class="flex items-center gap-1.5">
                            <p>QUANTITY</p>
                            <div class="inline-flex flex-col space-y-[2px]">
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path d="M5 0L0 5H10L5 0Z" fill="" />
                                </svg>
                              </span>
                              <span class="inline-block">
                                <svg
                                  class="fill-current"
                                  width="10"
                                  height="5"
                                  viewBox="0 0 10 5"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path
                                    d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                    fill=""
                                  />
                                </svg>
                              </span>
                            </div>
                          </div>
                        </th>

                        <th>
                            <div class="flex items-center gap-1.5">
                              <p>STATUS</p>
                              <div class="inline-flex flex-col space-y-[2px]">
                                <span class="inline-block">
                                  <svg
                                    class="fill-current"
                                    width="10"
                                    height="5"
                                    viewBox="0 0 10 5"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path d="M5 0L0 5H10L5 0Z" fill="" />
                                  </svg>
                                </span>
                                <span class="inline-block">
                                  <svg
                                    class="fill-current"
                                    width="10"
                                    height="5"
                                    viewBox="0 0 10 5"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                  >
                                    <path
                                      d="M5 5L10 0L-4.37114e-07 8.74228e-07L5 5Z"
                                      fill=""
                                    />
                                  </svg>
                                </span>
                              </div>
                            </div>
                          </th>
                          
                      </tr>
                    </thead>
                    <tbody>
                        {% for order in all_deliveries %}

                            <tr>
                                <td>#{{ order.id }}</td>
                                <td>{{ order.date }}</td>
                                <td>
                                    {% if order.meal_type == 'snack' %}
                                    TEA & SNACK
                                {% else %}
                                    {{ order.meal_type|upper  }}
                                {% endif %}
                            </td>
                                <td>{{ order.branch  }}</td>
                                <td>{{ order.delivery_address  }}</td>
                                <td>{{ order.quantity  }}</td>
                                {% if  order.status == 'DELIVERED' %}
                                <td><span class="text-success">{{  order.status }}</span></td>
                                {% elif  order.status == 'CANCELED' %}
                                <td><span class="text-danger">{{  order.status }}</span></td>
                                {% elif  order.status == 'DISPATCHED' %}
                                <td><span class="text-warning">{{  order.status }}</span></td>
                                {% else %}
                                <td><span class="text-primary">{{  order.status }}</span></td>
                                {% endif %}
                            </tr>
                        {%empty%}
                            <tr>
                                <td colspan=7 class="border border-gray-300 m-4 py-2 text-center">No Meals Delivered so far!</td>
                            </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- ====== Data Table One End -->
            </tbody>
        </table>
      </div>
    </div>
        </div>
    </div>
    
    <script defer src="{% static '' %}bundle.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js"></script>


{% endblock content %}

    

    
      