{% extends 'base.html' %}
{% load static %}
{% block title %}Meal Deliveries{% endblock title %}

{% block content %}

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">Meal Delivery</h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{{dashboard}}">Dashboard /</a></li>
                <li class="font-medium text-primary">Meal Delivery</li>
            </ol>
        </nav>
    </div>
    <div class="pb-5"><div class="flex justify-end p-3 container bg-white rounded-lg">
        <div class="button flex items-center">
            <a href="{% url 'meal_delivery_list' %}" class="inline-flex items-center gap-2 rounded-md bg-primary my-1 px-6 py-3 font-medium text-white hover:bg-opacity-90"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-1q0mvrt" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm90.5 224H272v74.5c0 8.8-7.2 16-16 16-4.4 0-8.4-1.8-11.3-4.7-2.9-2.9-4.7-6.9-4.7-11.3V272h-74.5c-4.4 0-8.4-1.8-11.3-4.7-2.9-2.9-4.7-6.9-4.7-11.3 0-8.8 7.2-16 16-16H240v-74.5c0-8.8 7.2-16 16-16s16 7.2 16 16V240h74.5c8.8 0 16 7.2 16 16s-7.2 16-16 16z"></path>
                </svg>
                <span>Add Meal Delivery</span>
            </a>
        </div>
    </div>
  </div>


{% comment %}   
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">{% if object %} Edit Delivery Address {% else %} Add Delivery Address {% endif %}</h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{{dashboard}}">Dashboard /</a></li>
                <li class="font-medium text-primary">Delivery List</li>
            </ol>
        </nav>
    </div>
    <div class="pb-5"><div class="flex justify-end p-3 container bg-white rounded-lg">
        <div class="button flex items-center">
            <a href="{% url 'meal_plan_list'%}" class="inline-flex items-center gap-2 rounded-md bg-primary my-1 px-6 py-3 font-medium text-white hover:bg-opacity-90">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-1q0mvrt" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48 48 141.13 48 256zm224-80.09L208.42 240H358v32H208.42L272 336.09l-22.7 22.54L147.46 256 249.3 153.37z"></path></svg>
                <span>Back to Delivery List</span>
            </a>
        </div>
    </div>
</div> {% endcomment %}

<div class="rounded-sm border border-stroke bg-white px-5 py-10 shadow-default 
    dark:border-strokedark dark:bg-boxdark sm:py-20">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="bg-gray-2 text-left dark:bg-meta-4">
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">ID</th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">Order</th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">Meal Type</th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">Quantity</th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">Meal Plan Status</th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">Date assigned</th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for delivery in deliveries %}
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ delivery.id }}
                    </th>
                    <td class="px-6 py-4">{{ delivery.bulk_order.bulk_order_name }}</td>
                    <td class="px-6 py-4">{{delivery.meal_type}}</td>
                    <td class="px-6 py-4">{{delivery.quantity}}</td>
                    <td class="px-6 py-4">
                        {% if delivery.status == 'COOKING' %}
                            <span class="text-yellow">Cooking</span>
                        {% elif delivery.status == 'DISPATCHED' %}
                            <span class="text-blue">Dispatched</span>
                        {% elif delivery.status == 'DELIVERED' %}
                            <span class="text-green">Delivered</span>
                        {% elif delivery.status == 'CANCELED' %}
                            <span class="text-red">Canceled</span>
                        {% else %}
                            <span class="text-gray">Unknown Status</span>
                        {% endif %}
                    </td>
                    
                    <td class="px-6 py-4">{{delivery.date}}</td>
                    
                    <td class="px-6 py-4 flex items-center gap-2">
                        
                        <a href="{% url 'meal_delivery_edit' delivery.id %}" class="hover:text-primary"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" focusable="false" class="chakra-icon css-1gm3tio" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z"></path>
                            <path d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z"></path></svg>
                        
                          </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- mentor/order/form.html -->
    </div>
<!-- Your deliveries list here -->
<nav aria-label="Page navigation" class="m-2">
    <ul class="inline-flex -space-x-px text-base h-10">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}" class="flex items-center justify-center px-4 h-10 ms-10 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
        </li>
      {% endif %}
  
      {% for page in paginator.page_range %}
        {% if page == page_obj.number %}
          <li>
            <a href="?page={{ page }}" aria-current="page" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{ page }}</a>
          </li>
        {% else %}
          <li>
            <a href="?page={{ page }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock content %}
