venv/
AdminDashboardService/settings.py
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Ignore all migration files
**/migrations/
!**/migrations/__init__.py  # Keep the __init__.py to maintain package structure
# Ignore all __pycache__ files
**/__pycache__/
# Ignore Python bytecode and cache folders
**/__pycache__/
**/*.pyc

# Ignore migration files
*/migrations/*.py
*/migrations/*.pyc
AdminDashboardService/settings.py
AdminDashboardService/settings.py
