{% extends 'base.html' %}
{% load static %}
{% block title %} 
  {% if object %} Edit Delivery Address {% else %} Add Delivery Address {% endif %} 
{% endblock title %}

{% block content %}

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">{% if object %} Edit Delivery Address {% else %} Add Delivery Address {% endif %}</h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{% url 'dashboard' %}">Dashboard /</a></li>
                {% if user.role != 'mentor' %}
              <li><a class="font-medium" href="{% url 'delivery_address_branches' %}">Delivery Addresses Branches /</a></li>
              {% endif %}
                <li><a class="font-medium" href="{% url 'delivery_address_list' %}">Delivery List /</a></li>
                
                <li class="font-medium text-success">{% if object %} Edit Delivery Address {% else %} Add Delivery Address {% endif %}</li>
            </ol>
        </nav>
    </div>
    <div class="pb-5"><div class="flex justify-end p-3 container bg-white rounded-lg">
        <div class="button flex items-center">
            <a href="{% if user.role != 'mentor' %}{% url 'delivery_address_list_by_branch' 1%}{% else %}{% url 'delivery_address_list'%}{% endif %}" class="inline-flex items-center gap-2 rounded-md bg-black my-1 px-6 py-3 font-medium text-white hover:bg-opacity-90">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-1q0mvrt" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48 48 141.13 48 256zm224-80.09L208.42 240H358v32H208.42L272 336.09l-22.7 22.54L147.46 256 249.3 153.37z"></path></svg>
                <span>Back to Delivery List</span>
            </a>
        </div>
    </div>
</div>


<div class="w-3/4 rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
      <h3 class="font-medium text-black dark:text-white">
        Delivery Address Form
      </h3>
    </div>
    <form method="post" 
          action="{% if object %} {% url 'delivery_address_edit' object.id %} {% else %} {% url 'delivery_address_create' %} {% endif %}">
      {% csrf_token %}
      <div class="p-6.5 grid grid-cols-1 sm:grid-cols-3 gap-4">
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Name
          </label>
          {{ form.name }}
        </div>
  
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Address Line 1
          </label>
          {{ form.address_line_1 }}
        </div>
  
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Address Line 2
          </label>
          {{ form.address_line_2 }}
        </div>
  
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            City
          </label>
          {{ form.city }}
        </div>
  
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            State
          </label>
          {{ form.state }}
        </div>
  
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Pin Code
          </label>
          {{ form.pin_code }}
        </div>
  
        {% comment %} <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Latitude
          </label>
          {{ form.latitude }}
        </div>
  
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Longitude
          </label>
          {{ form.longitude }}
        </div> {% endcomment %}
  
        <div class="mb-4.5">
          <label class="mb-3 block text-sm font-medium text-black dark:text-white">
            Default Address
          </label>
          <div class="flex items-center px-4 border border-stroke rounded dark:border-strokedark">
            {{ form.default_address }}
            <label class="w-full py-4 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
              Default Address
            </label>
          </div>
        </div>
      </div>
  
      <div class="px-6.5 pb-6 ">
        <button type="submit"
                class="w-full flex justify-center rounded bg-primary p-3 font-medium text-white hover:bg-opacity-90">
          {% if object %} Update Address {% else %} Add Address {% endif %}
        </button>
      </div>
    </form>
  </div>
  <!-- Include SweetAlert2 CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      {% if messages %}
        {% for message in messages %}
          Swal.fire({
            icon: 'error', // You can change this to 'success', 'warning', etc. based on your needs
            title: 'Oops!',
            text: '{{ message}}', // Use escapejs to safely include the message
            confirmButtonText: 'Okay',
            customClass: {
                confirmButton: 'bg-danger hover:bg-green-600 text-white px-4 py-2 rounded',
                cancelButton: 'bg-danger hover:bg-red-600 text-white px-4 py-2 rounded',
                popup: '.flatpickr-calendar'
              },
          });
        {% endfor %}
      {% endif %}
    });
  </script>
  

{% endblock content %}
