{% extends 'base.html' %}
{% load static %}
{% block title %} Assign Meals {% endblock title %}

{% block content %}
{% load custom_filters %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
  <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
    <h2 class="text-title-md2 font-semibold text-black dark:text-white text-xs sm:text-sm md:text-lg">
        Update Daily Food Count
    </h2>
    <nav>
      <ol class="flex items-center gap-1 sm:gap-2 text-xs sm:text-sm md:text-base">
        <li><a class="font-medium" href="{% url 'dashboard' %}">Dashboard /</a></li>
        {% if user.role != 'MENTOR' %}
        <li><a class="font-medium" href="{% url 'meal_plan_branches' %}">Branches /</a></li>
        {% endif %}
        <li>
          <a class="font-medium" href="{% if user.role != 'MENTOR' %}{% url 'meal_ordered_by_branch' request.session.branch_id %}{% else %}{% url 'meal_ordered' %}{% endif %}">
            Daily Food /
          </a>
        </li>
        <li class="font-medium text-success">Update Count</li>
      </ol>
    </nav>
</div>

<div class="mx-0">
  <div class="flex justify-end p-3 container rounded-lg bg-white">
    <div class="button flex items-center">
      <a href="{% if user.role != 'MENTOR' %}{% url 'meal_ordered_by_branch' request.session.branch_id %}{% else %}{% url 'meal_ordered' %}{% endif %}"
         class="inline-flex items-center gap-2 rounded-md bg-black my-1 px-3 py-2 sm:px-4 sm:py-3 font-medium text-white hover:bg-opacity-90">
        <!-- Back Icon (only shown on small screens) -->
        <svg class="h-5 w-5 sm:h-4 sm:w-4" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48 48 141.13 48 256zm224-80.09L208.42 240H358v32H208.42L272 336.09l-22.7 22.54L147.46 256 249.3 153.37z"></path>
        </svg>
        <!-- Text (hidden on extra-small screens) -->
        <span class="xs:hidden sm:hidden md:inline text-xs md:text-sm">Back to Daily Food</span>
      </a>
    </div>
  </div>
</div>


  <!-- Date Picker and Total Meals Button -->
  <!-- Date Picker and Total Meals Button -->
<div class="flex flex-col sm:flex-row sm:justify-between sm:items-center text-white mb-4 w-full sm:w-1/2 space-y-2 sm:space-y-0">
  <!-- Address Button -->
  <div class="font-semibold bg-black p-4 rounded-lg w-full sm:w-1/2 text-center sm:mr-2">{{address.name}}</div>
  <input type="hidden" id="address" value="{{address.pk}}">
  
  <!-- Date Button -->
  <div class="inline-flex items-center gap-2 font-semibold bg-black p-4 rounded-lg w-full sm:w-1/2 justify-center">
    <svg width="16" height="16" class="h-4 w-4 sm:h-5 sm:w-5" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <!-- SVG Path here -->
      <path d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48 48 141.13 48 256zm224-80.09L208.42 240H358v32H208.42L272 336.09l-22.7 22.54L147.46 256 249.3 153.37z"></path>
    </svg>
    <span class="text-sm sm:text-base">{{date}}</span>
    <input type="hidden" id="date" value="{{date}}">
  </div>
</div>


  <!-- Table -->
  <div class="bg-white rounded-lg border border-gray-300 p-3 sm:p-4 mb-4 w-full sm:w-1/2">
    <table class="w-full border-collapse border border-gray-300 mb-4 text-xs sm:text-sm">
      <thead>
        <tr class="bg-[#F9FAFB] text-left dark:bg-meta-4">
          <th class="border border-gray-300 py-3 px-2 sm:px-4 font-medium text-black dark:text-white bg-gray-200">DATE</th>
          <th class="border border-gray-300 py-3 px-2 sm:px-4 font-medium text-black dark:text-white bg-gray-200">COUNT</th>
        </tr>
      </thead>
      <tbody>
        <!-- Each Meal Row -->
        {% for meal, quantity in meal_quantities.items %}
  <tr class="border border-gray-300 px-4 py-2 text-left">
    <td class="border border-gray-300 px-4 py-2 border-t" style="width: 50%;">{{ meal|title }}</td>
    <input type="hidden" id="meal-plan" value="{{ meal }}">
    <td class="border border-gray-300 px-4 py-2 border-t" style="width: 50%;">
      <input type="number" value="{{ quantity }}" id="quantity"
      class="W-50 rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-success active:border-success disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-success" />
    </td>
  </tr>
{% endfor %}

      </tbody>
    </table>
    <div class="flex justify-center">
      <button id="submitBtn" class="bg-black text-white font-semibold p-3 sm:p-4 rounded-lg hover:bg-opacity-90 w-full sm:w-1/2">
        UPDATE COUNT
      </button>
    </div>
  </div>
</div>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

  
  // Calculate total quantity across rows and ensure it does not exceed a specified limit
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Check if this cookie string begins with the name we want
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrfToken = getCookie('csrftoken');

  function toast(message) {
    Swal.fire({
      toast: true,
      position: 'top-end',  // Adjust position as needed
      icon: 'success',  // Use 'success', 'error', 'info', 'warning', or 'question'
      title: message,
      showConfirmButton: false,
      timer: 3000,  // Close after 3 seconds
      timerProgressBar: true,
      customClass: {
        popup: 'colored-toast'  // Optional: Custom class for styling
      },
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer);
        toast.addEventListener('mouseleave', Swal.resumeTimer);
      }
    });
  }
  
    // Submit button functionality with AJAX
$('#submitBtn').click(function (e) {
  e.preventDefault(); // Prevent default form submission

  let mealData = $('form').serializeArray();
  $('#mealTable tbody tr').each(function () {
     
    const mealPlan = $(this).find('#meal-plan').val();
    let quantity = $(this).find('#quantity').val();
    const address = $('#address').val();
    const date=$('#date').val();
    if (quantity==""){
        quantity=0;
    }
    mealData.push({
      meal_plan: mealPlan,
      quantity: quantity,
      address: address,
      date:date,
    });
  });

  console.log('Submitting Data:', mealData);

  $.ajax({
      url: "/meal-deliveries/assign-address/post/", // Replace with your endpoint URL
      method: 'POST',
      headers: {
          'X-CSRFToken': csrfToken // Include CSRF token in the request headers
      },
    data: JSON.stringify({mealData:mealData}),
    contentType: 'application/json',
    success: function (response) {
      
     // Append the toast message
      const toastElement = $(toast(response.message));
      // Auto-dismiss toast after 3 seconds and redirect
// Auto-dismiss toast after 3 seconds and redirect
      setTimeout(() => {
       
           
            console.log("Redirecting to /mentor/meals_ordered");
            window.location.href = `{% url 'meal_ordered_by_branch' request.session.branch_id %}`;
        
      }, 3000);

      
      console.log(response);
    },
    error: function (error) {
      alert('An error occurred while submitting data.');
      console.log(error);
    },
  });
});

</script>
{% endblock content %}
