{% extends 'base.html' %}
{% load static %}
{% block title %} Assign Meals {% endblock title %}

{% block content %}
{% load custom_filters %}

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">Assign Meals</h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{{dashboard}}">Dashboard /</a></li>
                <li class="font-medium text-primary">Assign Meals</li>
            </ol>
        </nav>
    </div>
    <div class="pb-5">
        <div class="flex justify-between p-3 container bg-white rounded-lg">
          <!-- Left Side (Date and Total Meals) -->
          <div class="left flex items-center">
            <div class="inline-flex items-center gap-2">
              <div class="inline-flex bg-primary text-white font-bold p-2 gap-2 items-center shadow-md">
                Date: {{ date }}
              </div>
              <div class="inline-flex bg-meta-3 text-white font-bold p-2 gap-2 items-center shadow-md">
                Total Meals: {{ total_sum }}
              </div>
            </div>
          </div>
      
          <!-- Right Side (Back to Homepage Button) -->
          <div>
            <a href="{% url 'dashboard' %}" class="inline-flex items-center gap-2 rounded-md bg-primary my-1 px-6 py-3 font-medium text-white hover:bg-opacity-90">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-1q0mvrt" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M48 256c0 114.87 93.13 208 208 208s208-93.13 208-208S370.87 48 256 48 48 141.13 48 256zm224-80.09L208.42 240H358v32H208.42L272 336.09l-22.7 22.54L147.46 256 249.3 153.37z"></path>
              </svg>
              <span>Back to Homepage</span>
            </a>
          </div>
        </div>
      </div>
      
</div>

    
    <!-- Date Picker and Total Meals Button -->
    <td class="w-20 px-6 py-3 flex items-center justify-between mb-2">
        <div
        class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
      >
        <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4">
          <div
            class="flex justify-between border-b border-r border-stroke px-7.5 py-7 dark:border-strokedark xl:border-b-0"
          >
            <div class="flex items-center gap-5.5">
              
    
              <div>
                <p class="text-lg font-medium text-[#9B51E0]">Breakfast</p>
                <span class="font-medium">Quantity: <span id="breakfast">{{order.breakfast}}</span></span>
              </div>
            </div>
    
            <div>
              <p class="mt-1.5 font-medium text-black dark:text-white">
                {% comment %} <span id="breakfastassigned">0</span> assigned {% endcomment %}
              </p>
            </div>
          </div>
    
          <div
            class="flex justify-between border-b border-r border-stroke px-7.5 py-7 dark:border-strokedark xl:border-b-0"
          >
            <div class="flex items-center gap-5.5">
              
    
              <div>
                <p class="text-lg font-medium text-[#219653]">Lunch</p>
                <span class="font-medium">Quantity: <span id="breakfast">{{order.lunch}}</span></span>
              </div>
            </div>
    
            <div>
              <p class="mt-1.5 font-medium text-black dark:text-white">
                {% comment %} <span id="lunchassigned">0</span> assigned {% endcomment %}
              </p>
            </div>
          </div>
    
          <div
            class="flex justify-between border-b border-r border-stroke px-7.5 py-7 dark:border-strokedark sm:border-b-0"
          >
            <div class="flex items-center gap-5.5">
              
    
              <div>
                <p class="text-lg font-medium text-[#2F80ED]">Tea & Snack</p>
                <span class="font-medium">Quantity: <span id="breakfast">{{order.snack}}</span></span>
              </div>
            </div>
    
            <div>
              <p class="mt-1.5 font-medium text-black dark:text-white">
                {% comment %} <span id="snackassigned">0</span> assigned {% endcomment %}
              </p>
            </div>
          </div>
    
              <!-- Tea & Snack Section -->
    <div
    class="flex justify-between border-b border-r border-stroke px-7.5 py-7 dark:border-strokedark sm:border-b-0"
  >
    <div class="flex items-center gap-5.5">
      <div>
        <p class="text-lg font-medium text-[#2F80ED]">Dinner</p>
        <span class="font-medium">Dinner  Quantity: <span id="snack">{{ dinner }}</span></span>
      </div>
    </div>
    <div>
      <p class="mt-1.5 font-medium text-black dark:text-white">
        {% comment %} <span id="snackassigned">0</span> assigned {% endcomment %}
      </p>
    </div>
  </div>

      

        </div>
      </div>
      <!-- File Details List End -->
    </td>
 <!-- Header Section -->

<!-- Addresses Section -->
{% for address in addresses %}
<div class="rounded-sm border border-stroke bg-white px-5 mt-4 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
<h4 class="mb-6 text-xl font-bold text-black dark:text-white">
    {{address}}
</h4>

<div class="flex flex-col">
  <!-- Table Header -->
  <div class="grid grid-cols-3 rounded-sm bg-gray-2 dark:bg-meta-4 sm:grid-cols-3">
    
  <div class="p-2.5 xl:p-5">
      <h5 class="text-sm font-medium uppercase xsm:text-base">Meal Type</h5>
    </div>
    <div class="p-2.5 text-start xl:p-5">
      <h5 class="text-sm font-medium uppercase xsm:text-base">Items</h5>
    </div>
    <div class="p-2.5 text-left text-center xl:p-5">
      <h5 class="text-sm font-medium uppercase xsm:text-base">Quantity</h5>
    </div>
  </div>

  <!-- Table Body -->
  <div class="bg-white dark:bg-boxdark rounded-b-[10px]" id="mealTable">
    {% for meal_type, dishes in day_meals.items %}
    <div class="grid grid-cols-3 border-b border-stroke dark:border-strokedark sm:grid-cols-3" id="tr">
      <tr style="width:400px">
      <!-- Meal Type Column -->
      <div class="flex items-center gap-3 p-2.5 xl:p-5">
        <p class="font-medium text-black dark:text-white text-center">
          {{ meal_type|capfirst }}
        </p>
        <input type="hidden" id="meal-plan" value="{{ meal_type }}">
      </div>
    </tr>
      <!-- Items Column -->
<!-- Items Column -->
<div class="flex items-center justify-start p-2.5 xl:p-2 min-w-[800px]"> <!-- Set width to 50% -->
  <p class="text-xsm text-black dark:text-white">
          {% for dish in dishes %}
          <span>
              {% for selected_dish in dish.selected_dishes.all %}
                  {{ selected_dish.dish_name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
          </span>
          {% if not forloop.last %} | {% endif %}
      {% endfor %}
  </p>
</div>

    
    

      <!-- Assign Column -->
      <div class="flex items-center justify-center  ml-4 p-2.5 xl:p-5 text-center" >
        <input 
          type="number" 
          id="quantity" 
          min="0" 
          class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-success active:border-success disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-success"
          placeholder="0"
          required 
          value="{% if meal_delivery_data|get_item:address and meal_delivery_data|get_item:address|get_item:meal_type %}{{ meal_delivery_data|get_item:address|get_item:meal_type }}{% else %}0{% endif %}">

        <input type="hidden" id="address" value="{{ address.id }}">
        <input type="hidden" id="date" value="{{ date }}">
      </div>

    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endfor %}

<div class="rounded-sm border border-stroke bg-white px-5 mt-4 p-1 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">

  <div class="flex items-center justify-center mt-2 mb-2">
      <button
          id="submitBtn"
          class="bg-meta-3 px-10 py-4 text-white hover:bg-opacity-90 ml-4">
          Submit
      </button>
  </div>
</div>
</div>







<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

  
  // Calculate total quantity across rows and ensure it does not exceed a specified limit
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Check if this cookie string begins with the name we want
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrfToken = getCookie('csrftoken');

  function toast(message) {
    Swal.fire({
      toast: true,
      position: 'top-end',  // Adjust position as needed
      icon: 'success',  // Use 'success', 'error', 'info', 'warning', or 'question'
      title: message,
      showConfirmButton: false,
      timer: 3000,  // Close after 3 seconds
      timerProgressBar: true,
      customClass: {
        popup: 'colored-toast'  // Optional: Custom class for styling
      },
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer);
        toast.addEventListener('mouseleave', Swal.resumeTimer);
      }
    });
  }
  
    // Submit button functionality with AJAX
$('#submitBtn').click(function (e) {
  e.preventDefault(); // Prevent default form submission

  let mealData = $('form').serializeArray();
  $('#mealTable  #tr').each(function () {
     
    const mealPlan = $(this).find('#meal-plan').val();
    let quantity = $(this).find('#quantity').val();
    const address = $(this).find('#address').val();
    const date=$(this).find('#date').val();
    if (quantity==""){
        quantity=0;
    }
    mealData.push({
      meal_plan: mealPlan,
      quantity: quantity,
      address: address,
      date:date,
    });
  });

  console.log('Submitting Data:', mealData);

  $.ajax({
      url: "/meal-deliveries/assign-address/post/", // Replace with your endpoint URL
      method: 'POST',
      headers: {
          'X-CSRFToken': csrfToken // Include CSRF token in the request headers
      },
    data: JSON.stringify({mealData:mealData}),
    contentType: 'application/json',
    success: function (response) {
      
     // Append the toast message
      const toastElement = $(toast(response.message));
      // Auto-dismiss toast after 3 seconds and redirect
// Auto-dismiss toast after 3 seconds and redirect
      setTimeout(() => {
       
           
            console.log("Redirecting to /mentor/meals_ordered");
            window.location.href = "/mentor/meals_ordered";
        
      }, 3000);

      
      console.log(response);
    },
    error: function (error) {
      alert('An error occurred while submitting data.');
      console.log(error);
    },
  });
});

</script>
{% endblock content %}
