{% extends 'base.html' %}
{% load static %}
{% block title %} Delivery Assignment {% endblock title %}

{% block content %}

<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">Daily Food Count</h2>
         <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{{dashboard}}">Dashboard /</a></li>
                <li class="font-medium text-success">Daily Food Count</li>
            </ol>
        </nav>
    </div>
    {% comment %} {% for order in orders %} {% endcomment %}
    {% for address, orders in data_by_address.items %}
    <div class="pb-2 mt-4">
        <div class="flex justify-start p-3 container bg-black rounded-lg  mb-2">
            <div class="button flex items-center">
                <p class="inline-flex items-center gap-2 my-1 px-4 py-3 font-medium text-white text-lg hover:bg-opacity-90">
                    <span>{{ address }}</span>
                </p>
            </div>
        </div>

        <div class="rounded-lg border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
            <div class="max-w-full overflow-x-auto">
                <table class="w-full table-auto border-collapse border border-gray-300 mb-4">
                    <thead>
                        <tr class="bg-[#F9FAFB] text-left dark:bg-meta-4">
                            <th class="border border-gray-300 py-4 px-4 font-medium text-black dark:text-white bg-gray-200">Day</th>
                            <th class="border border-gray-300 py-4 px-4 font-medium text-black dark:text-white bg-gray-200">Date</th>
                            <th class="border border-gray-300 py-4 px-4 font-medium text-black dark:text-white bg-gray-200">Breakfast</th>
                            <th class="border border-gray-300 py-4 px-4 font-medium text-black dark:text-white bg-gray-200">Lunch</th>
                            <th class="border border-gray-300 py-4 px-4 font-medium text-black dark:text-white bg-gray-200">Snacks</th>
                            <th class="border border-gray-300 py-4 px-4 font-medium text-black dark:text-white bg-gray-200">Dinner</th>
                            <th class="border border-gray-300 py-4 px-4 font-medium text-black dark:text-white bg-gray-200">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders.values %}
                        <tr>
                            <td class="border border-gray-300 px-4 py-2">{{ order.day_name }}</td>
                            <td class="border border-gray-300 px-4 py-2">{{ order.date }}</td>
                            <td class="border border-gray-300 px-4 py-2 text-center">
                                {{ order.total_breakfast|default_if_none:"-"  }}
                            </td>
                            <td class="border border-gray-300 px-4 py-2 text-center">
                                {{ order.total_lunch|default_if_none:"-"  }}
                            </td>
                            <td class="border border-gray-300 px-4 py-2 text-center">
                                {{ order.total_snack|default_if_none:"-"  }}
                            </td>
                            <td class="border border-gray-300 px-4 py-2 text-center">
                                {{ order.total_dinner|default_if_none:"-"  }}
                            </td>
                            <td class="border border-gray-300 px-4 py-2 text-center">
                                {% if order.is_future == "False" %}
                                <a class="bg-gray-300 text-black px-4 py-2 rounded text-sm"
                                style=" cursor: not-allowed;">Edit</a>

                                   
                                {% else %}
                                     <a href="{% url 'edit_assign_address' id=order.address_pk date=order.date %}"
                                       class="text-primary px-4 py-2 rounded text-md">Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}

    

    
      