{% extends 'base.html' %}
{% load static %}
{% block title %} Delivery Assignment {% endblock title %}

{% block content %}
<div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-title-md2 font-semibold text-black dark:text-white">Delivery Assignment</h2>
        <nav>
            <ol class="flex items-center gap-2">
                <li><a class="font-medium" href="{{dashboard}}">Dashboard /</a></li>
                <li class="font-medium text-primary">Delivery Assignment</li>
            </ol>
        </nav>
    </div>
    <div class="pb-5"><div class="flex justify-end p-3 container bg-white rounded-lg">
        <div class="button flex items-center">
             <a href="" class="inline-flex items-center gap-2 rounded-md bg-primary my-1 px-6 py-3 font-medium text-white hover:bg-opacity-90"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-1q0mvrt" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm90.5 224H272v74.5c0 8.8-7.2 16-16 16-4.4 0-8.4-1.8-11.3-4.7-2.9-2.9-4.7-6.9-4.7-11.3V272h-74.5c-4.4 0-8.4-1.8-11.3-4.7-2.9-2.9-4.7-6.9-4.7-11.3 0-8.8 7.2-16 16-16H240v-74.5c0-8.8 7.2-16 16-16s16 7.2 16 16V240h74.5c8.8 0 16 7.2 16 16s-7.2 16-16 16z"></path>
                </svg>
                <span>Assign</span>
            </a> 
        </div>
    </div>
</div>
<div class="rounded-sm border border-stroke bg-white px-5 pt-6 pb-2.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5 xl:pb-1">
    <div class="max-w-full overflow-x-auto">
        <table class="w-full table-auto">
            <thead>
                <tr class="bg-gray-2 text-left dark:bg-meta-4">
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">
                        Day
                    </th>
                    <th class="min-w-[150px] py-4 px-4 font-medium text-black dark:text-white">
                        Date
                    </th>
                    <th class="min-w-[220px] py-4 px-4 font-medium text-black dark:text-white">
                        Status
                    </th>
                    <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white">
                        Delivery Assignment
                    </th>
                    
                    <th class="min-w-[120px] py-4 px-4 font-medium text-black dark:text-white">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                <tr>
                    <!-- Day -->
                    <td class="border border-gray-300 px-4 py-2">{{ order.day_name }}</td>
    
                    <!-- Date -->
                    <td class="border border-gray-300 px-4 py-2">{{ order.date }}</td>
    
                    <!-- Status -->
                    <td class="border border-gray-300 px-4 py-2">
                        {% if order.has_values %}
                            Assigned
                        {% else %}
                            Not Assigned
                        {% endif %}
                    </td>
    
                    <!-- Delivery Assignment -->
                    <td class="border border-gray-300 px-4 py-2">
                        {% if order.has_values %}
                            {% for address, totals in order.delivery_data.items %}
                                <div>
                                    {{ address }} - {{ totals.total_sum }}
                                    ({{ totals.total_breakfast }}, {{ totals.total_lunch }}, 
                                    {{ totals.total_snack }}, {{ totals.total_dinner }})
                                </div>
                            {% endfor %}
                        {% else %}
                            Not Assigned
                        {% endif %}
                    </td>
     
                    <!-- Actions -->
                    <td class="border border-gray-300 px-4 py-2">
                        {% if order.has_values %}
                            {%if order.is_future == "No" %}
                            <a class="bg-primary text-white px-4 py-2 rounded text-sm" readonly>Edit</a>
                            {% else %}
                                <a href="{% url 'edit_assign_address' order.date %}" class="bg-primary text-white px-4 py-2 rounded text-sm">Edit</a>
                            {%endif%}
                        {% else %}
                            {%if order.is_future == "No" %}
                            <a  href=""  class="bg-danger text-white px-4 py-2 rounded text-sm">Blocked</a>
                            {% else %}
                            <a  href="{% url 'assign_address' order.date %}"  class="bg-success text-white px-4 py-2 rounded text-sm">Assign</a>
                            {%endif%}
                            
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
               
            </tbody>
            
        </tbody>
    </table>
</div>
</div>
</div>

{% endblock content %}

    

    
      